@charset "UTF-8";
.thumbnails {
	list-style: none;
	padding: 0;
	margin: 0 2% 2% 2%;
	font-size: 0;
}
.thumbnails li {
	display: inline-block;
	width: 49%;
	margin-right: 2%;
	margin-top: 2%;
}
.thumbnails li:nth-child(2n) {
	margin-right: 0;
}
.thumbnails li img {
	width: 100%;
}

@media screen and (min-width: 767px) {
.thumbnails {
	margin: 0 2% 2% 2%;
}
.thumbnails li { /* 3 items per row */
	width: 32%;
	margin-right: 2%;
	margin-top: 2%;
}
.thumbnails li:nth-child(2n) {
	margin-right: 2%;
}
.thumbnails li:nth-child(3n) {
	margin-right: 0;
}
}

@media screen and (min-width: 1024px) {
.thumbnails {
	margin: 0 0.86% 0.86% 0.86%;
}
.thumbnails li {
	width: 24.1%; /* 4 items per row */
	margin-right: 1.2%;
	margin-top: 1.2%;
}
.thumbnails li:nth-child(2n) {
	margin-right: 1.2%;
}
.thumbnails li:nth-child(3n) {
	margin-right: 1.2%;
}
.thumbnails li:nth-child(4n) {
	margin-right: 0;
}
}

@media screen and (min-width: 1500px) {
.thumbnails {
	margin: 0 1.375% 1.375% 1.375%;
}
.thumbnails li {
	width: 18.9%; /* 5 items per row */
	margin-right: 1.375%;
	margin-top: 1.375%;
}
.thumbnails li:nth-child(2n) {
	margin-right: 1.375%;
}
.thumbnails li:nth-child(3n) {
	margin-right: 1.375%;
}
.thumbnails li:nth-child(4n) {
	margin-right: 1.375%;
}
.thumbnails li:nth-child(5n) {
	margin-right: 0;
}
}

@media screen and (min-width: 2000px) {
.thumbnails {
	margin: 0 0.8% 0.8% 0.8%;
}
.thumbnails li {
	width: 16%;
	margin-right: 0.8%;
	margin-top: 0.8%;
}
.thumbnails li:nth-child(2n) {
	margin-right: 0.8%;
}
.thumbnails li:nth-child(3n) {
	margin-right: 0.8%;
}
.thumbnails li:nth-child(4n) {
	margin-right: 0.8%;
}
.thumbnails li:nth-child(5n) {
	margin-right: 0.8%;
}
.thumbnails li:nth-child(6n) {
	margin-right: 0;
}
}